
a{
    color: black;
}

#field{
    background-color: rgba(59, 61, 61, 0.6);
    color: white;
    
    padding: 12px 24px;
}
#field>a{
    color: white;
}

#ih{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.imageHov{
    position: relative;
    min-width: 250px;
    min-height: 250px;
    display: inline-block;
}

.imageHov>span{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
  

.imageHov:hover>a>#ih{
    opacity: 0.98;
}

.imageHov:hover>span {
    opacity: 1;
}